In [3]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.cross_validation import train_test_split
from sklearn.naive_bayes import MultinomialNB

#### importing data, transforming

In [16]:
df=pd.read_csv('allqns.csv',header=None)

In [17]:
df.shape

(3556, 4)

In [21]:
df=df.drop(labels=[0,1],axis=1)

In [48]:
df.describe()

                                                        2            3
count                                                3444         3444
unique                                               3444           44
top     can you get me lounge access at NAME airport I...  lounge.book
freq                                                    1         1548

In [28]:
df.dropna(inplace=True)

In [47]:
df.drop_duplicates(inplace=True)

In [49]:
df.head()

                          2                             3
0                pay sameer  wallet.manage_payment_method
1        pay sameer Rs 1000  wallet.manage_payment_method
2            cancel payment  wallet.manage_payment_method
3  add Rs 1000 to my Wallet  wallet.manage_payment_method
4   add Rs 1000 to my purse  wallet.manage_payment_method

In [62]:
df_x=df.loc?

In [ ]:
df_x=df.loc

In [56]:
df_y=df.loc[3]

preparing data

In [57]:
len(df_x)

2

In [59]:
x_train,x_test,y_train,y_test=train_test_split(df_x,df_y,test_size=0.2,random_state=1)

In [60]:
len(x_train)

1