In [32]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

#### importing data, transforming

In [3]:
df=pd.read_csv('allqns.csv',header=None)

In [4]:
df.shape

(3556, 4)

In [5]:
df=df.drop(labels=[0,1],axis=1)

In [10]:
df.describe()

                                                        2            3
count                                                3444         3444
unique                                               3444           44
top     I have a c/d card. i need to access the lounge...  lounge.book
freq                                                    1         1548

In [7]:
df.dropna(inplace=True)

In [8]:
df.drop_duplicates(inplace=True)

In [16]:
df.head()

                         qn                      category
0                pay sameer  wallet.manage_payment_method
1        pay sameer Rs 1000  wallet.manage_payment_method
2            cancel payment  wallet.manage_payment_method
3  add Rs 1000 to my Wallet  wallet.manage_payment_method
4   add Rs 1000 to my purse  wallet.manage_payment_method

In [17]:
df_x=df['qn']

In [14]:
df.columns=['qn','category']

In [19]:
df_y=df['category']

preparing data

In [18]:
len(df_x)

3444

In [20]:
len(df_y)

3444

In [21]:
x_train,x_test,y_train,y_test=train_test_split(df_x,df_y,test_size=0.2,random_state=1)

In [22]:
len(x_train)

2755

count vectorisation

In [48]:
cv=CountVectorizer()

In [49]:
xtrain=cv.fit_transform(x_train).toarray()

In [51]:
xtest=cv.transform(x_test)

shape of you

In [52]:
xtrain.shape

(2755, 695)

In [53]:
xtest.shape

(689, 695)

In [54]:
ytrain.shape

(2755, 46)

In [55]:
ytest.shape

(689, 46)

using naive bayes

In [41]:
mnb=MultinomialNB()

In [42]:
mnb.fit(xtrain,ytrain)

ValueError: bad input shape (2755, 46)